*{
    margin: 0px;
    padding: 0px;
}

:root{
    --image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEuqPfPSf5BG-eJQJ9EbKpV6q7QtcEXy6V43AhiHRYFw&s=10');
    --color:#FFFE15;
    --size:0.5em;
    --speed:5s;
}

body{
    background-color: #0C1E26;
    color: var(--color);
}

header{
    display: flex;
    justify-content: center;    
}

header h1{
    color: var(--color);
    font-size: 2rem;
    margin-top: 0.5rem;
}

main{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem , 25rem));
    grid-template-rows: repeat(2, minmax(10rem , 15rem));
    margin-top: 1.5rem;
    gap: 5px;
}

.box{
    overflow: hidden;
    border: 0.5px solid var(--color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box p{
    font-size: 1.3em;
}
.box input{
    margin-top: 4px;
}

#color-box{
    background-color: var(--color);
    height: 6rem;
    width:9rem;
    margin-top:1rem;
    border-radius: 20px;
}

#display-box{
    background-color: var(--color);
    height: 6rem;
    width:9rem;
    margin-top:1rem;
    border-radius: 20px;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#font-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    height: 6rem;
    width:9rem;
    margin-top:1rem;
    border-radius: 20px;
    font-size: var(--size);
}

#animation-box{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ff9fc0;
  box-shadow: 0 0 20px #ff9fc0;
  animation: animation var(--speed) ease-in-out infinite;
  margin-top: 2rem;
}

@keyframes animation {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 50%;
  }

  50% {
    transform: scale(1.4) rotate(180deg);
    border-radius: 20%;
    box-shadow: 0 0 50px #ff9fc0;
  }

  100% {
    transform: scale(1) rotate(360deg);
    border-radius: 50%;
  }
}

hr{
    border: 1px solid var(--color);
    width: 50%;
    margin: 2rem auto 0rem auto ;
}

footer p{
    text-align: center;
    font-size: 1.2em;
    color: var(--color);
    margin-top: 1rem;
}