*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
}

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

#option{
    display: flex;
    justify-content: space-evenly;
    /* padding: 1rem 0px 1rem 0px; */
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 9vh;
    border: 2px solid black;
    border-radius: 25px;
}

main{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1rem ;
}

#canvas{
    height: 63vh;
    width: 90%;
    border: 2px solid black;
    margin-top: 2vh;
    border-radius: 25px;
}